<div class="js-wall-result-content" hidden>
  <div class="wall-stu-info js-wall-stu-info">
    <div class="wall-img-mask js-wall-img-mask">
      <div class="wall-img-container js-detail-show">
        <img class="wall-img inline-block cursor-pointer js-wall-image js-wall-content-show"
             src="" data-target="#modal" data-toggle="modal" data-url="">
        <div class="color-primary img-score js-score-parent hidden">
          <div id="" class="js-score-show score-num"></div>
        </div>
      </div>
      <div class="info-box">
        <div class="zan-answer mt5">
          <i class="cz-icon cz-icon-praise-hover mrs cursor-pointer zan-like js-zan-like hidden"></i>
          <i class="cz-icon cz-icon-praise mrs cursor-pointer cancel-like js-cancel-like"></i>
          <span class="like-unm js-wall-like-num cursor-pointer">10</span>
          <span class="cursor-pointer js-wall-post">
            <i class="mll cz-icon cz-icon-question_answer mrs"></i>
            <span class="js-wall-post-num">10</span>
          </span>
        </div>
        <div class="color-dark stu-truename text-bold mt5 text-overflow js-wall-content-truename">这里是名称</div>
        <div class="score-info">
          <a class="btn cz-btn-md cz-link-primary text-bold js-grade-btn" href="javascript:;" data-target="#modal" data-toggle="modal">
            评分
          </a>
        </div>
      </div>
    </div>
  </div>
</div>