{% extends 'activity/content-layout.html.twig' %}

{% set isActivityPreview = 'true' %}

{% block content %}
  <div class="iframe-parent-content-new iframe-parent-full ps-container" id="brain-storm-activity">
    <div class="activity-show-content-new">
      <div class="activity-content">
        <div class="activity-results">
          <div class="activity-name js-activity-name">
            <div class="text-overflow brainStorm-title-content">
              {{ activity.content|raw }}
            </div>
            <p class="activity-group-way">
              {% if brainStorm.submitWay == 'group' %}
                按组提交结果
              {% elseif brainStorm.submitWay == 'person' %}
                组内按个人提交
              {% endif %}
            </p>
          </div>
          <div class="cz-activity-content js-cz-activity-content clearfix" id="js-one-sentence-result">
            <div class="js-activity-animate activity-animate">
              <img src="/static-dist/custombundle/img/brain_storming.png" alt="活动图">
            </div>
          </div>
        </div>

        <div class="operation-btn">
          <button class="cz-btn cz-btn-orange js-rend-call">开始回答</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}