<div class="form-group">
  <div class="col-md-2 control-label"><label for="name-field" class="control-label-required">{{'标题'|trans}}</label></div>
  <div class="col-md-8 controls">
    <input class="form-control" value="{{ questionnaire.title|default() }}" name="title" id="name-field"/>
  </div>
</div>

<div class="form-group">
  <div class="col-md-2 control-label">
    <label for="description-field">{{'说明'|trans}}</label></div>
  <div class="col-md-8 controls">
    <textarea class="form-control" id="description-field" rows="4" name="description">{{ questionnaire.description|default() }}</textarea>
  </div>
</div>
