{% extends (courseSet.type == 'instant') ? 'courseset-manage/instant-layout.html.twig' : 'courseset-manage/layout.html.twig' %}

{% block title %}{{ '班级列表'|trans }} - {{ parent() }}{% endblock %}
{% set side_nav = 'lesson-list' %}
{% do script(['custombundle/js/courseset-manage/lesson-list/index.js']) %}
{% set token = upload_token('tmp', 'image') %}
{% block main %}

<div class="panel panel-default panel-col">
  <div class="panel-heading">
    {{'班级列表'|trans}}
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="70%">课程</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <span class="fl">建筑一班</span>
            <span class="fr">120人</span>
        </td>
        <td>
           <a class="link-primary" href="javascript:;">班级教案</a>
           <a class="link-primary" href="javascript:;">学习数据</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}

