<span href="javascript:;" data-anchor="#question{{ question.id }}" class="js-btn-index color-lump mrm mbm
    lump-card js-answer-notwrong" >
    <i class="text-12 glyphicon glyphicon-bookmark marking-card js-marking-card hidden"></i>
    {{ seq|default(0) }}
</span>