{% extends 'bootstrap-modal-layout.html.twig' %}
{% set modal_class= "" %}

{% do script(['libs/jquery-validation.js','custombundle/js/courseset-manage/select-group-student-modal/index.js']) %}

{% block title %}
  添加分组，设置分组学员
{% endblock %}
{% block body %}
<form id="group-form" class="form-horizontal" method="post" action="{{ path('custom_course_student_group_create', {courseId:courseId}) }}" onkeydown="if(event.keyCode==13){return false;}">
  <div class="form-group">
    <label for="title" class="col-md-3 control-label">组名</label>
    <div class="col-md-8 controls">
      <input class="form-control" type="text" id="title" name="title" value="" placeholder="默认将按数字序号命名">
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-md-3 control-label">选择学生</label>
    <div class="col-md-8 controls">
      <div id="teachers-form-group">
        <div class="js-input-container select-input-container">
          <input name="condition" type="text" class="js-input-search form-control" data-query-url="{{ path('instant_group_member_match', {courseId:courseId}) }}" placeholder="请输入姓名，学号，工号查询" />
          <a href="javascript:;" class="es-icon es-icon-search"></a>
          <div class="cz-select-list" hidden>
            <table class="table table-noborder" id="student-list">

            </table>
          </div>
        </div>
        <table class="js-selected-students table table-noborder mtl">

        </table>
      </div>
    </div>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  <div class="form-group">
    <div class="col-md-offset-2 col-md-8 controls">
    </div>
  </div>
    <button type="submit" id="submit" hidden></button>
</form>

{% endblock %}

{% block footer %}
  <span class="color-danger prl js-help-block" hidden>请选择至少一名学员</span>
  <button type="submit" class="btn btn-fat btn-primary js-btn-save" data-loading-text="保存中...">{{'保存'|trans}}</button>

{% endblock %}
