<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title id="host-name"></title>
  </head>
  <body>
    <div id="app-box">用户帐号不存在，请联系管理员</div>
  </body>
</html>
